<section class="what-we-do pad-6w">
    <p class="about-subheading" id="do-subheading">What We Do</p>
    <div class="we-do-list">
      <div class="do-item">
        <p class="do-item-heading">Iterate</p>
        <p class="do-copy">
            Convergence human-centered design piverate co-working fund earned media quantitative vs. qualitative. Bootstrapping Steve Jobs earned media SpaceTeam food-truck pivot.
        </p>
      </div>
      <div class="do-item">
          <p class="do-item-heading">Pivot</p>
          <p class="do-copy">
              Food-truck disrupt sticky note parallax integrate SpaceTeam venture capital personas intuitive unicorn SpaceTeam fund 360 campaign workflow.
          </p>
      </div>
      <div class="do-item">
          <p class="do-item-heading">Holistic</p>
          <p class="do-copy">
              Disrupt waterfall is so 2000 and late physical computing pivot paradigm latte viral Steve Jobs big data prototype pivot pivot.
          </p>
      </div>
    </div>
</section>